.home{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
  }
  .home .h-banner-div{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center;
  }
  .home .h-banner-div .home-banner11{ 
    display: none;
  }
  .home-banner44 , .home-banner33 , .home-banner22{
    display: none;
  }
  .home-banner2{
    width: 100%;
    min-height: 200px;
  }
  .home-banner3{
    min-height: 200px;
    width: 100%;
  }
  .home-banner4{
    min-height: 200px;
    width: 100%;
  }
  .products-list{
      justify-content: space-evenly;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      overflow: hidden;
  }
  .extra-margin-btm{
    margin-bottom: 50px;
  }
  @media screen and (min-height: 500px) and (min-width: 1000px){
    .home .h-banner-div .home-banner1{ 
      width: 100%; 
      z-index: -1;
      min-height: 95vh;
    }
  }
  @media screen and (max-width: 999px){
    .h-banner-div .home-banner1{
      display: none;  
    }
    .home .h-banner-div .home-banner11{ 
      display: flex;
      width: 100%;
      z-index: -1;
    }
  }
  @media screen and (min-height:600px){
    
    .home-banner2{
      width: 100%;
      min-height: 400px;
    }
    .home-banner3{
      min-height: 400px;
      width: 100%;
    }
    .home-banner4{
      min-height: 400px;
      width: 100%;
    }
  }
  @media screen and (max-width: 550px){
  
    .home-banner4 , .home-banner2 , .home-banner3{   
      display: none;
    }
    .home-banner44 , .home-banner33 , .home-banner22{
      display: flex;
      width: 100%;
    }
  }
  